/******************************************/
/******************************************/
/************ FEED FEED FEED **************/
/******************************************/
/******************************************/

.Familia #boxToEdit .defaultBackground{
    background-size: cover;
    height: 100%;
    position: relative;
}

.Familia #boxToEdit .defaultBackground.feed{
    background-image:url('./feed/default.png');
}


.Familia .App-editor #boxToEdit .boxContent {
    position: absolute;
    bottom: 25px;
    width: 100%;
    padding: 0 13%;
    color: white;
    box-sizing: border-box;
}
.Familia .App-editor #boxToEdit .boxContent .row {
    display: flex;
    justify-content: space-between;
}

/******* ROWS *********/
.Familia .App-editor #boxToEdit .boxContent .row.rowOne {
    position: absolute;
    bottom: 315px;
    width: 800px;
    height: 120px;
    align-items: center;
}

.Familia .App-editor #boxToEdit .boxContent .row.rowTwo {
    position: absolute;
    bottom: 10px;
    width: 800px;
    height: 80px;
    align-items: center;
}

/******* LINES *********/

.Familia .lineOne {
    border: 3px solid;
    padding: 15px 30px 15px 30px;
    max-width: 395px;
    /* height: 60px; */
    font-size: 37px;
    margin: 0;
    font-weight: 600;
    display: flex;
    line-height: 39px;
    align-items: center;
    justify-content: center;
    position: absolute;
    word-wrap: break-word;
    display: block;
    overflow: hidden;
}

.Familia .lineTwo {
    max-width: 330px;
    line-height: 26px;
    text-align: right;
    font-size: 34px;
    font-weight: 600;
    position: absolute;
    right: 0;
    word-wrap: break-word;
}


.Familia .lineThree {     
    max-width: 520px;
    line-height: 29px;
    text-align: left;
    font-size: 34px;
    font-weight: 600;
}

/******* EXPORT *********/

.Familia #boxToEdit.export {
    width: 1080px;
    height: 1080px;
}

/******

.Familia #boxToEdit.export .boxContent {
    bottom: 40px;
}

.Familia #boxToEdit.export .lineOne {
    width: 90px;
    padding-left: 50px;
    line-height: 22px;
    text-align: right;
    font-size: 24px;
    font-weight: 600;
}

.Familia #boxToEdit.export .lineTwo {
    font-size: 38px;
    width: 170px;
    line-height: 40px;
}

.Familia #boxToEdit.export .lineThree{
    margin-top: 20px;
    font-size: 28px;
    width: 290px;
    line-height: 34px;
} */


/******************************************/
/******************************************/
/*********** STORY STORY STORY ************/
/******************************************/
/******************************************/

#root.story .Familia #boxToEdit .defaultBackground{
    background-image:url('./story/default.png');
}

#root.story .Familia .lineOne {
    border: 3px solid;
    padding: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 791px;
    max-width: 100%;
    font-size: 40px;
    margin: 0;
    font-weight: 600;
    display: flex;
    line-height: 39px;
    align-items: center;
    justify-content: center;
    position: absolute;
    word-wrap: break-word;
    top: 0px;
}

#root.story .Familia .lineTwo {
    border: 3px solid;
    padding: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 791px;
    max-width: 100%;
    font-size: 38px;
    margin: 0;
    font-weight: 600;
    display: flex;
    line-height: 39px;
    align-items: center;
    justify-content: center;
    position: absolute;
    word-wrap: break-word;
    bottom: 0px;
}


#root.story .Familia .lineThree {
    line-height: 42px;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    max-width: 100%;
}

/******* ROWS *********/
#root.story .Familia .App-editor #boxToEdit .boxContent .row.rowOne {
    position: absolute;
    bottom: 240px;
    width: 797px;
    height: 200px;
    align-items: center;
}

#root.story .Familia .App-editor #boxToEdit .boxContent .row.rowTwo {
    position: absolute;
    bottom: 130px;
    width: 800px;
    height: 100px;
    /* align-items: center; */
    text-align: center;
    justify-content: center;
}