#root.story .App-header {
    width: 10%;
    background: transparent;
}

#root.story .backButton {
    position: fixed;
    right: 35px;
}

#root.story .App-editor,
#root.story .App-editor .container {
    margin: 0;
    align-items: center;
    height: 100vh;
}

#root.story .App-editor .container .contentBox {
    zoom: 40%;
}

#root.story .App-editor .container .contentFields {
    justify-content: center;
}

#root.story .App-editor #boxToEdit {
    height: 1920px;
    width: 1080px;
}